.header {
    font-size: 65px;
    -unity-text-align: upper-center;
    color: rgb(255, 255, 255);
}

.button {
    width: auto;
    height: 12%;
    font-size: 44px;
    color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.label {
    -unity-text-align: upper-center;
    font-size: 35px;
}
